langchain-community
pypdf
langchain-huggingface
faiss-cpu
google-generativeai
pydantic
fastapi
uvicorn
python-multipart
requests
python-docx
aiohttp
nest-asyncio
lxml
python-dotenv
sentence-transformers